Papers\seychelles-warblers-complexities-of-the-helping-paradox.pdf
testing.py
map\habitat_quality_small.csv
Local_Testing/
map/habitat_quality_small.csv
/__pycache__
/__pycache__/
/__pycache__
__pycache__/kinship.cpython-313.pyc
__pycache__/population.cpython-313.pyc
/PDF
local_test.py
/.vscode
/output
/__pycache__
/output
*.csv
output/fitness.csv
/docs
individual_models/__pycache__
/docs
/methodology